
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form Kalkulator</title>
</head>
<body>
    <form action="/Homes/IndexHitung" method="get">
        <label>Bilangan 1 :</label><br />
        <input type="text" name="bil1" value="" /><br /><br />
        <label>Bilangan 2 :</label><br />
        <input type="text" name="bil2" value="" /><br /><br />
        <input type="submit" name="submit" value="Hitung" />
    </form>
</body>
</html>
